<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1" />  -->
<meta name="google-signin-scope" content="profile email">
<!-- apps's client id -->
<meta name="google-signin-client_id" content="621338731170-1g7q31ainsvsft2lei62sums0pglu07f.apps.googleusercontent.com">

<link rel="stylesheet" type="text/css" href="style/bootstrap.css" />
<title th:text="#{title}">Los Magnificos Subastas Online</title>

</head>
<body>
	<a href="index.html"><img src="images/logo los magnificos.png"
		alt="logo-LM" class="img-fluid"></a>
	<a class="logo" href="index.html" th:text="#{title}">Los Magnificos
		Subastas Online</a>
	<nav>

	</nav>
	<span th:text="#{lang.change}">cambiar el idioma</span>:
	<select id="locales">
		<option value="" th:text="#{lang.sel}">seleccionar</option>
		<option value="en" th:text="#{lang.eng}">ingles</option>
		<option label="es" th:text="#{lang.es}">español</option>
	</select>
	<div class="p-3 mb-2 bg-info text-white">
		<h3 th:text="#{description}">Aplicacion Web para subastas de
			bienes y servicios</h3>
	</div>
	<div class="p-3 mb-2 bg-warning text-dark">
		<div class="btn-group btn-group-justified" role="group"
			aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default"
					onclick="window.location.href='/about.html'">Acerca de Los
					Magnificos</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default">
					<div class="g-signin2" data-onsuccess="onSignIn"></div>
				</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default" onclick="signOut()">cerrar
					sesion</button>
			</div>
		</div>

	</div>
	<div class="list-group">
		<a href="#" class="list-group-item list-group-item-action active"
			th:text="#{subtittle}"> Listado de Subastas </a> 
		<a href="#"
			class="list-group-item list-group-item-action" >
			<img src="/images/delorencito.jpg" alt="delorean" class="img-cuadrado">
			<p th:text="#{aunction1}"> Delorean de volver al futuro</p>
			</a> 
		<a href="#" class="list-group-item list-group-item-action">
			<img src="/images/octocatcito.jpg" alt="octocat"> 
			<p	th:text="#{auction2}"> Mascota de Github </p>
			</a>
		<a href="#" class="list-group-item list-group-item-action">
			<img alt="old computer"	src="/images/portatilcita.jpg" class="img-cuadrado">
			<p th:text="#{auction3}"> Computadora portatil</p>
			</a>
		<a href="#" class="list-group-item list-group-item-action disabled" th:text="#{continue}">
			ver mas -> </a>
	</div>
	</div>
	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/breakpoints.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>
	<!-- script google login -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	
	
	<script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption !== ''){
                    window.location.replace('locale?lang=' + selectedOption);
                }
            });
        });
    </script>
	<script>
		function onSignIn(googleUser) {
			var profile = googleUser.getBasicProfile();
			console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  			console.log('Name: ' + profile.getName());
  			console.log('Image URL: ' + profile.getImageUrl());
  			console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  			
  		  // The ID token you need to pass to your backend:
  	        var id_token = googleUser.getAuthResponse().id_token;
  	        console.log("ID Token: " + id_token);
			}
	</script>


	<script type="text/javascript">
		function signOut() {
			var auth2 = gapi.auth2.getAuthInstance();
			auth2.signOut().then(function() {
				console.log('User signed out.');
			});
		}
	</script>





</body>
<footer class="container-fluid text-center">
	<p>Grupo G -Coronel Luis . Rodriguez Alan- Desarrollo de
		Aplicaciones 2018 -</p>
</footer>



</body>
</html>