<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" />
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption !== ''){
                    window.location.replace('locale?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>

<h1 th:text="#{greeting}"></h1>
 
<br /><br />
<span th:text="#{lang.change}"></span>:
<select name="OS">
   <option value="1">Windows Vista</option> 
   <option value="2">Windows 7</option> 
   <option value="3">Windows XP</option>
   <option value="10">Fedora</option> 
   <option value="11">Debian</option> 
   <option value="12">Suse</option> 
</select>
<select id="locales">
	<option></option>
    <option value="en" th:text="#{lang.eng}">en</option>
    <option value="fr" th:text="#{lang.fr}">fr</option>
    <option value="es" th:text="#{lang.es}">es</option>
</select>
</body>
</html>