<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" />
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../../../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption !== ''){
                    window.location.replace('locale?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>

<h1> HOLA MUNDOO </h1>

<div ng-app="">

    <p>Name: <input type="text" ng-model="name"></p>
    <p>You wrote: {{ name }}</p> 
    
</div>

<h1 th:text="#{greeting}"></h1>
 
<br /><br />
<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}">EN</option>
    <option value="fr" th:text="#{lang.fr}">FR</option>
    <option value="es" th:text="#{lang.es}">ES</option>
    <li> soy un elemento de una lista papá<li></li>
</select>
</body>
</html>